*,
*::before,
*::after { box-sizing: border-box; }

html, body { 
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, sans-serif;
    color: var(--fg);
    line-height: 1.5;
}

.highlight {
    background-color: #ffd700;
    font-weight: bold;
}

#main {
    max-width: 60rem;
    width: 100%;
}